<!doctype html>
<html>
   <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<style>
		body {
		background-color: #b0c4de;
		}
		</style>
	</head>
 
<body>
 
	<div class="login-card">
		<h1><center>Log-in</center></h1><br>
			<form action="" method="post">
				<p><input type="text" name="username" value="{{
				request.form.username }}">
				<p><input type="password" name="password" value="{{
				request.form.username }}">
				<p><input type="submit" value="Login">
			</form>
	{% if error %}
	<p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}
	</div>
	
	<!-- hard-login, lager ikke registrer osv form
	<center><h3>Du kan bruke disse som brukernavn og passord:</h3>
	<center><li>Brukernavn: PerOlaf --- Passord: olafkung</li></center>
	<center><li>Brukernavn: OddLeni --- Passord: oddkong</li></center> -->
 
</body>
</html>
